@charset "utf-8";

/* css document */

html,
body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    height: 100%;
    width: 200px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei", helvetica
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
i {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: ''
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

:focus {
    outline: none;
}

header,
menu,
nav,
section,
menu,
footer,
article {
    display: block;
}

body,
p,
input,
div,
h1,
h2,
h3,
h4,
ul,
li,
ol,
dl,
dt,
dd,
form {
    list-style: none;
    vertical-align: middle;
    word-wrap: break-word;
    -webkit-text-size-adjust: none
}

body {
    font-size: 14px;
    background: #efeff4;
    color: #333
}

fieldset,
img,
input,
button,
select,
textarea {
    border: 0;
    background: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button {
    font-family: "microsoft yahei", helvetica
}

img {
    background-size: contain;
}

em {
    font-style: normal;
    color: #ff7700
}


/*清除浮动 */

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

*:focus {
    -moz-outline-style: none;
    outline: none
}

input,
button {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


/*字体*/

.fz-price {
    font-size: 28px
}

.fz-l {
    font-size: 16px
}

.fz-xxl {
    font-size: 40px
}

.fz-m {
    font-size: 14px
}

.fz-s {
    font-size: 12px
}

.tx-em {
    color: #f60
}

.tx-thin {
    color: #a6a6a6
}

.tx-thin1 {
    color: #808080
}

.tx-suc {
    color: #50a40f
}


/*绿色*/

.tx-warn {
    color: #f93e19
}


/*红色*/

.tx-c-blue {
    color: #0079ff
}


/*蓝色*/

.label-input {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #808080;
    display: inline-block;
}

.input-text-min {
    width: 40px;
    border: none;
    color: #808080;
}

.input-text-mid {
    width: 140px;
    border: none;
    color: #808080;
    padding-left: 5px;
    vertical-align: middle;
    line-height: 22px;
}

.input-appear {
    border: 1px solid #ccc;
    line-height: 28px;
    border-radius: 3px;
    background: #fff;
    width: 100%;
    padding: 5px 0;
}


/*链接*/

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    color: #0079ff;
    text-decoration: none
}

a:hover {
    color: #459dff
}

article {
    height: 100%;
    min-width: 320px;
    background: #efeff4;
}


/*按钮*/

.btn-wrap {
    margin: 0 10px;
}

.btn-wrap button {
    width: 100%;
    margin-bottom: 10px;
}


/*.btn-wrap button:last-child{margin-bottom: 0;}*/

.btn-wrap a {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 44px;
    text-align: center;
}

.btn-wrap a.btn-primary:hover {
    color: #fff;
}

.btn-wrap a.btn-thin:hover {
    color: #666;
}

.btn-wrap a:last-child {
    margin-bottom: 0;
}

.btn-thin,
.btn-thin-dis {
    background-color: #26a830;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f0eeee));
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    color: #666;
    height: 42px;
    text-align: center;
    font-size: 16px;
    font-family: "microsoft yahei";
    width: 100%;
}

.btn-primary,
.btn-primary-dis {
    background-color: #26a830;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#21c214), to(#06b00f));
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    height: 42px;
}

.btn-primary-dis {
    background: #039702;
    color: #fff;
    opacity: 0.3;
}

.btn-thin-dis {
    background-color: #dadada;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d8d8d8), to(#dadada));
    border: 1px solid #ccc;
    color: #fff
}

.btn-sper {
    position: relative;
}

.btn-sper .icon-arrow {
    position: absolute;
    right: 0;
    top: 4px;
    background-image: url(//midas.gtimg.cn/h5pay/images/payh5_v2/icon-arrowr2.png);
    width: 32px;
    height: 32px;
    display: block;
}

.icon-arrow:before {
    content: '';
}

.btn-wait {
    background-color: none;
    color: #15a314;
    border: 2px solid #15a314;
    font-size: 16px;
    border-radius: 5px;
    height: 42px;
}


/*表单组合 */

.control-group {
    font-size: 15px;*zoom:1;
    position: relative;
    margin-bottom: 20px;
}

.control-group:before,
.control-group:after {
    display: table;
    content: "";
}

.control-group:after {
    clear: both;
}

.control-label {
    float: left;
    width: 100px;
    text-align: left;
    color: #000;
    padding-top: 12px;
    padding-left: 15px;
}
.control-label-append {
    float: right;
    margin-right: 10px;
    font-size: 13px;
    color: #27a1f1;
}

.controls {
    margin-left: 120px;
    margin-right: 32px;
}


/*.control-group .icon-arrowr {
    position: absolute;
    right: 0;
    top: 10px;
}*/

.controls input {
    width: 100%;
    font-size: 15px;
    height: 34px;
    line-height: normal;
    outline: medium none;
    vertical-align: top;
    color: #000;
    margin: 5px 0;
}

.control-group .detail-title {
    padding: 12px 0;
}

.control-group .detail-title h3 em {
    color: #333;
}

.controls .detail-title h3 {
    font-size: 16px;
    font-weight: 200;
}

.controls .detail-title p {
    color: #808080;
    font-size: 14px;
    line-height: 24px;
}

.turn-right {
    position: absolute;
    right: 10px;
    top: 10px;
    white-space: nowrap;
}

.control-group .turn-right {
    display: block;
    position: absolute;
    right: 5px;
    top: 6px;
    width: 32px;
    font-size: 12px;
    height: 32px;
    display: block;
    text-align: center;
    line-height: 32px;
}

.control-group .turn-right i {
    margin: 0;
    vertical-align: middle;
}

.control-group .turn-right .icon-del {
    margin-top: 8px;
    float: right;
    margin-right: 8px;
}

.form-title {
    padding-left: 15px;
    padding-bottom: 5px;
    color: #808080;
    font-size: 14px;
    margin-top: -5px;
}

.form-horizontal .tips_hint {
    font-size: 12px;
    color: #808080;
    padding-left: 10px;
    position: relative;
}

.field-divice .tips_hint {
    margin-top: -10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.form-horizontal .help-block {
    font-size: 12px;
    color: #808080;
    text-align: left;
}

.tips_hint .turn-right {
    top: 0;
}


/*表单分开样式*/

.field-divice .control-group {
    margin-bottom: 15px;
}

.field-divice .bar-skin {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    background: #fff;
}

.field-divice .control-group .controls {
    margin-left: 10px;
}

.checkout {
    margin: 5px 10px 0 10px;
}

.field-divice .checkout {
    margin-left: 10px;
    margin-right: 10px;
    margin: 10px;
}

.field-divice .btn-wrap {
    margin-top: 20px;
}

.yzm .controls {
    float: left;
    margin-left: 15px
}

.yzm .get-yzm {
    border-left: 1px solid #ccc;
    float: right;
    padding: 14px;
    padding-top: 15px;
}


/*表单详情*/

.style-form-details .detail-title {
    text-align: right;
    color: #808080
}

.style-form-details .controls {
    margin-right: 10px;
    margin-left: 40%;
}

.style-form-details .control-label {
    width: 40%
}


/*定单明细*/

.style-form-order-details {
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
}

.style-form-order-details .detail-title {
    text-align: right;
    color: #808080;
    padding: 3px 0;
}

.style-form-order-details .controls {
    margin-right: 10px;
    margin-left: 40%;
}

.style-form-order-details .control-label {
    padding-top: 3px;
    padding-left: 0;
}

.style-form-order-details .control-label {
    width: 40%
}

.order-details-group .style-form-order-details:last-child {
    border-bottom: none
}


/*表单组合样式*/

.field-group {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
    background: #fff;
}

.field-group .control-group {
    margin-left: 10px;
    border-bottom: 1px solid #dedede;
    margin-bottom: -1px;
}

.field-group .control-group .control-label {
    padding-left: 0;
}

.field-group .control-group .controls {
    margin-left: 100px;
}

.field-group .control-group:last-child {
    border-bottom: none;
}


/*====confirm中间确认页面===========*/

.confirm-cont p {
    color: #888;
}

.section-confirm {
    text-align: center;
}

.section-confirm .confirm {
    padding: 45px 0 30px;
}

.icon-confirm {
    width: 64px;
    height: 64px;
    background-size: cover;
    display: inline-block;
}

.success .icon-confirm {
    background-image: url(//midas.gtimg.cn/h5pay/images/payh5_v2/icon-suc-v3.png);
}

.error .icon-confirm {
    background-image: url(//midas.gtimg.cn/h5pay/images/payh5_v2/icon-wrong-v2.png);
}

.warn .icon-confirm {
    background-image: url(//midas.gtimg.cn/h5pay/images/payh5_v2/icon-warn-v2.png);
}

.normal .icon-confirm {
    background-image: url(//midas.gtimg.cn/h5pay/images/payh5_v2/icon-normal.png);
}

.waiting .icon-confirm {
    background-image: url(//midas.gtimg.cn/h5pay/images/payh5_v2/loading.gif);
}

.success-key .icon-confirm {
    background-image: url(//midas.gtimg.cn/h5pay/images/payh5_v2/icon-key.png);
}

.section-confirm .confirm h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 6px;
}

.section-confirm .confirm p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.section-confirm .confirm .confirm-cont {
    margin: 10px 0 0 0;
    display: block;
    text-align: center;
}

.success .confirm-cont h4 {
    color: #000;
    font-size: 19px;
}

.error .confirm-cont h4 {
    color: #ff453a;
}

.warn .confirm-cont h4,
.normal .confirm-cont h4 {
    color: #ff6600;
}

.waiting .confirm-cont h4 {
    color: #38c
}

.confirm-add {
    border-top: 1px dashed #c8c8c8;
    margin: 0 15px;
    color: #808080;
    padding: 5px 0px;
    min-height: 70px;
}

.section-loadding {
    position: absolute;
    top: 40%;
    width: 100%;
}

.section-loadding .section-confirm .warn-tips p {
    padding: 0;
    margin: 0;
}

.section-confirm .icon-load2 {
    vertical-align: top;
    text-align: center;
}

.section-confirm .warn-tips {
    padding: 10px 10px 5px 5px;
    background: none;
}

.section-confirm .warn-tips p {
    margin: 2px 0 0 30px;
    color: #555;
}


/*商店暂未开放*/

.section-wait {
    padding-top: 30%;
}

.section-wait .confirm .confirm-cont {
    margin: 5px 0 0 10px;
    display: block;
    vertical-align: top;
    text-align: center;
}

.section-wait .confirm h4 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
}


/*商店忙*/

.wait2 {
    background-image: url(//midas.gtimg.cn/h5pay/images/wechat/mask-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.wait2bg {
    position: absolute;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.section-wait2 {
    margin-top: 10%;
    width: 100%;
    min-height: 480px;
}

.wait2-cont {
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
    line-height: 26px;
}

.section-wait2 .btn-wrap {
    font-size: 12px;
    color: #cccccc;
}

.wait-time {
    color: #cdcdcd;
    font-size: 18px;
    margin-top: 30px;
}


/*图标*/

.icon-del {
    background-image: url(//midas.gtimg.cn/h5pay/images/icon-deltext-v2.png?v=2);
    background-color: none;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: block;
}

.icon-arrowr {
    background-image: url(//midas.gtimg.cn/h5pay/images/icon-arrowr.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle
}

.warn-tips {
    background: rgba(0, 0, 0, 0.7);
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 0;
    padding: 10px 10px 10px 5px
}

.warn-tips p {
    color: #fff;
    font-size: 12px;
    display: inline-block;
}

.icon-tipwarn {
    background-image: url(//midas.gtimg.cn/h5pay/images/icon-tipwarn.png);
}

.icon-load,
.icon-tipwarn {
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
    display: inline-block;
    vertical-align: middle
}

.icon-load {
    background-image: url(//midas.gtimg.cn/h5pay/images/icon-load.png);
    -webkit-animation: rotate 0.5s linear infinite;
    -webkit-transform-origin: 12px 10px
}


/*radio Tap选择*/

.field-divice .controls-option {
    margin-left: 10px;
    margin-bottom: 10px;
}

.controls-option label,
.controls-option .other-label,
.controls-option .label {
    width: 25%;
    float: left;
    margin-bottom: 5px;
}

.controls-option label span,
.controls-option .other-label span,
.controls-option .label span {
    font-size: 16px;
    border: 1px solid #d6d6d6;
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f5f5f5));
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    color: #333;
    overflow: hidden;
    width: 92%;
    margin-right: 8%;
    border-radius: 5px;
}

.controls-option span.box-ipt {
    background: #fff;
    width: 92%;
    line-height: normal;
    display: block;
}

.controls-option span.box-ipt input {
    width: 98%;
    margin-left: 0;
    display: block;
    text-align: center;
    font-size: 16px;
    height: 40px;
    color: #333;
}

.controls-option span.box-ipt input {
    margin: 0;
}

.controls-option span.box-ipt span {
    text-align: center;
    color: #808080;
    display: block;
    line-height: 42px;
}

a.box-ipt input::-webkit-input-placeholder {
    text-align: center;
    vertical-align: middle;
    display: block;
}

.controls-option .current span {
    color: #fff;
    background: #08ba06;
    border: 1px solid #08ba06;
    box-shadow: none;
}

.controls-option .other-label span.focus {
    border-color: #04be02
}


/*游戏充值*/

.field-group-updown {
    background: #fff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
    padding-top: 12px;
}

.field-group-updown .control-group {
    margin-bottom: 10px;
}

.field-group-updown .control-label {
    display: block;
    color: #808080;
    padding-left: 10px;
    font-size: 14px;
    float: none;
    margin-bottom: 5px;
    padding-top: 0px;
    width: auto;
}

.field-group-updown .controls {
    margin-left: 10px;
    margin-right: 0;
}


/*开通服务*/

.service-group-updown {
    margin-bottom: 15px;
}

.service-group-updown .control-group {
    margin-bottom: 10px;
}

.service-group-updown .control-label {
    display: block;
    color: #808080;
    padding-left: 10px;
    font-size: 14px;
    float: none;
    margin-bottom: 5px;
    padding-top: 0px;
}

.service-group-updown .controls {
    margin-left: 10px;
    margin-right: 0px;
}


/*数量+-*/

.duration {
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
    width: 40%;
    margin-bottom: 5px;
}

.duration button,
.duration a {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f5f5f5));
    border-radius: 2px 0 0 2px;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    width: 70px;
    text-align: center;
    height: 34px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    color: #999;
    position: absolute;
    left: 0px;
    top: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.duration button:active,
.duration a:active {
    background: #f2f2f2
}

.duration button.dis,
.duration a.dis {
    color: #bbb;
    background: #eeeded
}

.duration button:last-child,
.duration a:last-child {
    left: auto;
    right: 0;
    border-left: none;
    border-right: 1px solid #d6d6d6;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    font-size: 30px;
    line-height: 30px;
}

.duration div {
    padding-left: 5px;
    border: 1px solid #d6d6d6;
    height: 34px;
    background: #fff;
    -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden
}

.duration div.focus {
    border-color: #04be02
}

.duration input {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #333;
    height: 34px;
    margin: 0;
}

div.ipt_dis {
    padding-left: 0
}

.form-price {
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 20px;
    position: relative;
}

.form-price em {
    color: #ff7700;
    font-size: 24px;
}

.form-price .more {
    right: 10px;
    position: absolute;
    bottom: 0px;
}

.field-divice .focus {
    border-top: 1px solid #04be02;
    border-bottom: 1px solid #04be02;
}

.control-two-line .turn-right {
    top: 20px;
}

.control-content {
    text-align: center;
    width: 100%;
    display: block;
    height: 45px;
    line-height: 45px;
}

.control-two-line .control-content {
    height: 75px;
    line-height: 75px;
    font-size: 18px;
}

.control-group .qq-name {
    line-height: 45px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 42px;
    color: #666;
    font-size: 12px;
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    text-align: right;
}

.field {
    padding: 0 5px;
    border: 1px solid #d6d6d6;
    background: #fff;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2) inset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 85px;
    padding-right: 30px;
    position: relative
}

.field input {
    font-size: 15px;
    height: 40px;
    line-height: normal;
    outline: medium none
}

.field input {
    width: 100%
}

.field button {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    cursor: pointer
}

.field button i {
    margin-right: 5px
}

.mod-select {
    color: #a6a6a6;
    text-align: right;
    padding-right: 5px;
}


/*==下拉浮层==*/

.btn-group {
    position: relative;
    font-size: 0;
    display: inline-block;
    zoom: 1;
}

.open .dropdown {
    display: block;
}

.dropdown:before {
    left: 34px;
    top: -8px;
    border-bottom: 8px solid #49484b;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    display: block;
    content: '';
    z-index: 1;
}

.dropdown {
    /*===下拉层div==*/
    font-size: 14px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    border-radius: 5px;
    background-color: #49484b;
    background-clip: padding-box;
}

.list-menu li {
    border-bottom: 1px solid #5b5a5d;
    margin: 0 15px;
    padding: 0 5px 0 0;
    line-height: 42px;
}

.list-menu li:last-child {
    border-bottom: none;
}

.list-menu li a {
    color: #fff;
    white-space: nowrap;
}


/*包月*/

.month .controls-option label,
.month .controls-option .label {
    width: 33%;
}

.month .controls-option span {
    height: 42px;
    vertical-align: middle;
    line-height: 18px;
    padding-top: 7px;
}

.month .controls-option span i {
    font-size: 12px;
    display: block;
    font-style: normal;
    color: #999
}

.month .controls-option .current em {
    color: #ffb500;
}

.month .controls-option .current i {
    color: #fff;
}


/*add bark0713*/

.price-bar {
    padding-right: 10px;
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-justify-content: space-between;*/
    /*-webkit-box-pack: justify;*/
    margin-bottom: 15px;
    line-height: 30px;
    position: relative;
}

.checkbox {
    overflow: hidden;
    text-align: right;
    color: #666;
    display: block;
    min-width: 100px;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 0
}

.checkbox .icon-right {
    color: #ccc;
    margin-right: 3px;
}

.checkbox .icon-right:before {
    content: "\e60f";
    color: #ccc;
}

.selected .icon-right {
    color: #26a830;
}

.selected .icon-right:before {
    color: #26a830;
    content: "\e611";
}


/* 签约自动续费
 * author: emmajtchen(陈洁婷)
 * 2016.01.28
 */

.wrapper-bg-primary {
    background-color: #fff;
}

.banner {
    margin: 10px 10px 0;
}

.banner a {
    display: block;
}

.banner img {
    width: 100%;
    vertical-align: top;
}

.confirm-sign {
    margin-top: 10px;
}

.wxcz-cells {
    background-color: #fff;
    line-height: 1.5;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    text-align: left;
}

.wxcz-cells:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #dfdfdd;
    color: #dfdfdd;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.wxcz-cells:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dfdfdd;
    color: #dfdfdd;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.wxcz-cell {
    padding: 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.wxcz-cell:before {
    content: " ";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #dfdfdd;
    color: #dfdfdd;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    left: 15px;
}

.wxcz-cell:first-child:before {
    display: none;
}

.wxcz-cell-primary {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.wxcz-cell-bd p {
    color: #000;
}

.wxcz-cell-bd span {
    color: #888;
}

.wxcz-cell-hd img {
    display: block;
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.wxcz-cell-ft {
    text-align: right;
    color: #888;
}

.wxcz-cell-ft:after {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c7cd;
    border-style: solid;
    position: relative;
    top: -1px;
    margin-left: 3px;
}

.wxcz-cells-title {
    text-align: left;
    padding: 10px 15px;
    font-size: 12px;
    color: #888;
}


/*
*优惠券
*coder:刘历(v_pastorliu);
*date:2016.4.13;
*/


/*订单页优惠券信息*/

.wxcz-cells.offer-info:after {
    display: none;
}


/*优惠券列表*/

.bg-grey {
    background-color: #efeff4;
}

.coupon-list {
    padding: 5px 0 15px;
}

.coupon-list li {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 10px 0;
    padding: 10px 0 10px 15px;
    border: 1px solid #e1e1e6;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(1, 1, 1, 0.06);
    background-color: #fff;
    transition: border-color .3s;
}

.coupon-list li:after {
    content: "";
    display: block;
    position: absolute;
    transition: transform .3s;
    transform: translate(100%, -100%);
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: url(../../images/coupon/coupon-selected.png) 0 0/contain no-repeat;
}

.coupon-list .coupon-logo {
    float: left;
    width: 45px;
    height: 45px;
}

.coupon-hd:after {
    content: "";
    clear: both;
    display: table;
}

.coupon-list .coupon-text {
    margin-left: 60px;
}

.coupon-list .coupon-text h2 {
    width: 65%;
    font-size: 18px;
}

.coupon-list .coupon-text h2:after {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    padding: 2px 7px;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
}

.coupon-list .coupon-term {
    margin-top: 5px;
    font-size: 12px;
}

.coupon-list .coupon-amount {
    position: absolute;
    top: 8px;
    right: 25px;
    font-size: 18px;
}

.coupon-list .coupon-amount big {
    font-size: 36px;
}

.coupon-list .coupon-tips {
    margin-top: 10px;
    border-top: 1px dashed #e5e5e5;
}

.coupon-list .coupon-tips p {
    margin-top: 10px;
    font-size: 12px;
    color: #888;
}


/*选中的优惠券*/

.coupon-list .selected {
    border-color: #42d022;
}

.coupon-list .selected:after {
    transform: translate(0, 0);
}


/*推荐的优惠券*/

.coupon-list .recommend h2:after {
    content: "推荐";
    background-color: #ff944c;
}


/*已冻结、已过期优惠券*/

.coupon-list .freezed,
.coupon-list .expired {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    color: #888;
}

.coupon-list .freezed h2:after,
.coupon-list .expired h2:after {
    background-color: #c5c5c5;
}

.coupon-list .freezed h2:after {
    content: "已冻结";
}

.coupon-list .expired h2:after {
    content: "已过期";
}

/*
 * Q币充值添加Q币使用说明
 * emmajtchen
 * 2016/5/19
 */

.qb-tips {
    position: fixed;
    bottom: 0;
    // background: #efeff4;
    z-index: 999;
    padding: 4px 10px;
}
.qb-tips p{
    font-size: 12px;
    line-height: 1.5;
    color: #838383;
}

/*
 * Q币商店TAB上方增加实验性小黄条
 * emmajtchen
 * 2016/11/02
 */

.wxcz-discount-banner .wxcz-cell {
    background-color: rgba(255, 255, 255, 0.95);
}
.wxcz-discount-banner .wxcz-cell:active {
    background-color: rgba(228, 228, 228, 0.95);
}
.ad-style1 .ad-img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}
.ad-style2 .ad-img {
    width: 45px;
    height: 45px;
    margin-right: 8px;
}
.ad-style2 .ad-tit{
    color: #333333;
    font-size: 16px;
}
.ad-style2 .ad-txt{
    color: #999999;
    font-size: 12px;
}
.ad-style1 .wxcz-cell-bd p {
    color: #f8a900;
}
.wxcz-discount-banner .wxcz-cell-ft:after {
    top: 1px;
    height: 10px;
    width: 10px;
    border-color: #f8a900;
}
.ad-style2 .wxcz-cell-ft {
    color: #ffa912;
}
.ad-style2 .wxcz-cell-ft:after{
    border-color: #999999;
}


/*2017.2.20 补充公众号QQ 切换微信账号*/
.nickname-area {
    position: relative;
    margin-bottom: -10px;
}
.nickname-name {
    position: absolute;
    max-width: 15em;
    left: 7em;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


















